:root {
  --maincolor: blue;
  --bodycolor: orangered;
}

html,
body {
  margin: 0px;
}

.linked {
  padding: 50px 50px 50px 50px;
  background-color: red;
}

.preview {
  display: none;
}

.link:hover .preview {
  display: inline-block;
  position: absolute;
  border: 5px solid var(--maincolor);
  filter: drop-shadow(30px 30px 10px var(--maincolor));
}

p {
  width: 60%;
  font-family: monospace;
  font-size: 3em;
  margin: 0px;
  padding: 30px;
  transition-timing-function: ease;
}

a:link {
  color: var(--maincolor);
}

a:visited {
  color: var(--maincolor);
}

.bg-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  overflow: hidden;
  z-index: 5000;
}

.gradient {
  height: 20%;
  width: 100vw;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 1%, #ececec 99%);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 1%, orangered 99%);
  float: left;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: var(--maincolor);
  border-radius: 50%;
  display: inline-block;
}

#screensaver {
  z-index: 1000;
  color: darkslateblue;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
}

#section1 {
  background-color: var(--bodycolor);
  margin: 0px;
  height: 100vh;
  width: 100%;
  z-index: 5;
  position: sticky;
  top: 0;
}

#section2 {
  background-color: red;
  margin: 300px;
  z-index: 100;
  position: sticky;
  top: 100px;
  height: 190px;
  width: 190px;
  border-radius: 50%;
  cursor: pointer;
}

#section3 {
  transition: transform 1s, opacity 1s;
  background-color: greenyellow;
  height: 100vh;
  z-index: 15;
  position: sticky;
  top: -50px;
}

#section4 {
  background-color: rgb(77, 0, 19);
  margin: 0;
  height: 100vh;
  width: 100%;
  z-index: 15; 
  position: sticky;
  top: 0;
}

p {
  transition: transform 0.5s, opacity 0.5s;
}

button {
  width: 200px;
  height: 200px;
  color: red;
  background-color: blue;
  font-style:oblique;
}

.hidden {
  display: none;
}

.fixed {
  position: fixed;
  z-index: 999;
  margin: 50px;
  width: 75%;
  text-align: end;
  font-family: monospace;
  font-size: 8em;

}

.page--height {
  height: 1500px;
  position: relative;
  background-color: orangered;
}

.section--hidden {
  transform: translateY(5rem);
  opacity: 0.1;
}


