:root {
	--background-transition: background-color .3s ease-in-out;
	--opacity-transition: opacity .3s ease-in-out;
	--section--one: color: #df0b0b;
}

@font-face {
	font-family: 'Lab Mono Web';
	src: url('labmono-regular-web.woff2') format('woff2'), url('labmono-regular-web.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
main {
	margin: 0;
 	scroll-behavior: smooth;
	font-size: 2.2vw;
	font-family: 'Lab Mono Web';
	line-height: 4vw;
}

body {
	/* background-color: #ff3600; */
	background-color: #ff0000 ;
	color: black;
}

main {
	padding-left: 6vw;
	padding-right: 12vw;
}

nav {
	position: fixed;
	z-index: 15; 
	top: -11.6vw;

	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 11.6vw;
	justify-content: space-between;
	align-items: center;
	padding-left: 6vw;
	padding-right: 15.2vw;
	
	background-color: #f82020;

	
	transition: top 0.3s ease-in-out;
	-webkit-transition: top 0.3s ease-in-out;
	-moz-transition: top 0.3s ease-in-out;
	-o-transition: top 0.3s ease-in-out;
}

header {
	position: fixed;
	z-index: 15;
	top: 0;
	
	display: flex;
	flex-direction: row-reverse;
	justify-content: right;
	gap: 20px;
	width: 100%;
	padding-left: 6vw;
	padding-right: 6vw;
	margin-top: 3.8vw;

	pointer-events: none;
}

footer {
	position: fixed;
	z-index: 6;
	bottom: 0;
	
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	width: 100vw;
	height: 12vw;
	padding-bottom: 3.8vw;
	padding-left: 6vw;
	padding-right: 6vw;
}



section {
	z-index: 2;
	top: 0;
	margin-bottom: 10vh;
	
}

h2 {
	margin: 0;	

	font-size: 3vw;
	font-weight: normal;
	text-transform: uppercase;
	
}

p {
	z-index: 2;
	margin-top: 3vw;
	margin-bottom: 0;
}

li {
	list-style-type:none;
}

#header--gradient {
	position: fixed;	
	z-index: 4;
	top: 0;

	height: 13vw;
	width: 100vw;
}

#header--menu--button {
	z-index: 14;

	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

	pointer-events: auto;

}

#footer--scroll--position {
	z-index: 6;

	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;

}

#section--five {
	height: 85vh;
}

.section--title {
	position: sticky;
	z-index: 12;
	top: 3.8vw;

	width: 100%;
	margin: 0;
	margin-bottom: 70px;

	opacity: 1;
}

.greeting--container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	

	min-height: 100vh;

	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.greeting--word {
	position: fixed;
	z-index: 2;

	font-size: 15vw;
	text-align: baseline;
	line-height: 20vw;
	text-transform: uppercase;

	opacity: 1;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.screensaver--container {
	position: fixed;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 0;
	left: 0;
	z-index: 16;
	
	display: flex;
	width: 100%;
	height: 100%;
	

	visibility: hidden;
	opacity: 0;

	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}

.screensaver--clock {
	position: absolute;
	z-index: 17;

	color: black;
	font-size: 15vw;
	text-align: baseline;
	line-height: 20vw;
	text-transform: uppercase;

	opacity: 1;
}

.background--container {
	transition: opacity 0.3s ease-out;
	background-color: red;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
}

.title--menu {
	cursor: pointer;
}

img {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;

	margin: auto;
	max-width: 88vw;
	max-height: 80vh;

	opacity: 1;
	border-radius: 2vw;
}


.img--container {
    position: fixed;
    top: 0;
    left: 0;
	pointer-events: none;
    z-index: 10;

    width: 100vw;
    height: 100vh;
    
}

.img--container .img--display {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
    max-width: calc(100vh - 1.25vw);
    max-height: calc(100vh - 1vw);

    opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}

.img--link {
	position: relative;
	z-index: 8;
	
	display: inline-block;
	vertical-align: baseline;
	min-width: 1.75vw;
	padding: 0.6vw 1vw;
	border-radius: 3vw;
	border: 0.25vw solid;

	text-align: center;
	line-height: 0.8;
	cursor: pointer;

	transition: z-index 0.3s ease-in-out;
	-webkit-transition: z-index 0.3s ease-in-out;
	-moz-transition: z-index 0.3s ease-in-out;
	-o-transition: z-index 0.3s ease-in-out;
}